<% include ../partials/header %>
    
<div class="col">
    <!-- Enter Category list here!  -->
    <div class="form-check-inline">
        <form name="filterForm" action="/expense" method="GET">
            <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="approvedRadio" value="All" onclick=this.form.submit() >All
            </label>
            </div>
            <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="approvedRadio" value="Approved" onclick=this.form.submit() >Approved
            </label>
            </div>
            <div class="form-check-inline disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="approvedRadio" value="Pending" onclick= this.form.submit() >Pending
            </label>
        </form>
    </div> 
    <div class="form-check-inline float-right">
        <a href="/expense/new" class="btn btn-link btn-xs">Add Expense</a>
    </div>
    <% if(typeof expenses !== 'undefined' && expenses.length>0) { %>
    <div class="list-group m-3">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th>Narration</th>
                    <th>Category</th>
                    <th>Owner</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% expenses.forEach ((expense)=>{ %>
                    <tr>
                        <td><%= expense.narration %></td>
                        <td><%= expense.category.name %></td>
                        <td><%= expense.owner %></td>
                        <td><%= expense.vendor %></td>
                        <td><%= expense.amount %></td>
                        <td>
                            <% if(expense.isApproved){ %>
                                <button class="btn btn-success btn-sm mr-100" disabled>Approved</button>
                            <% } else {%>
                                <button class="btn btn-warning btn-sm mr-100" disabled>Pending</button>
                            <% } %>
                        </td>      
                        <td>
                            <!-- If expense approval is pending and user is either admin or expense creator -->
                            <% if (((typeof currentUser !== 'undefined' && expense.author.id.equals(currentUser._id)) || (typeof currentUser!=='undefined'  && currentUser.isAdmin)) && !(expense.isApproved)) { %>
                                <a href="/expense/<%= expense.id %>/edit" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                <form action="/expense/<%= expense.id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                </form>
                            <% } %>
                        </td>  
                    </tr>
                <% }) %>
            </tbody>
        </table> 
    </div>   
    <% } else { %>
        <h3 class="mt-4"> No more expenses pending approval!</h3>
    <% } %>

<% include ../partials/footer %>
                        